{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
	

	<div class="example-wrapper">
<div class="col-12">
		<h1>Modifier votre profil </h1>
	</div>
	{{ form_start(form) }}
	{{ form_row(form) }}
	<button class=" btn btn-primary">Modifier</button>
	{{ form_end(form) }}

	</div>
{% endblock %}
