.page-container{
width: 80%;
margin: auto;
padding: 2rem 10rem 2rem 10rem;
}

header{

background: #EADDC5;
padding: 1rem 1rem;

}

.footer-container{
display: flex;
justify-content: space-between;
background-color: #EADDC5;
}

.footer__title{
font-weight: bold;
font-size: 1rem;    
}

.footer{
padding-bottom: 1rem !important;
background-color: #EADDC5;

}

.footer .has-background-color {
background-color: #EADDC5;

    }

.menu{
margin-top: 1rem;
}

.footerlink{
color:black;
}


.footerlink:hover{
color:#1dbf73
}

.inline{
display: inline-block;
padding-left: 0.5*1rem;    
}

.center{
display: flex!important;
flex-direction: column;
justify-content: center;
}



bi{
color:  #014019;
font-size: 2rem;
}
     
h1{
color:white;
font-size: 2.2rem; 
font-family: 'Roboto Slab', serif;
font-weight: bold;
}

h2{
    font-size: 1.8rem;
    padding: 1.5rem 0;
    font-weight: bold;
    
}

h3{
    font-size: 1.5rem;
    font-weight: bold;
}
h4{
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}
.list-shops{
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}



.box-container{

background:  #FDFAFA;
padding: 3rem 5rem;
margin-bottom: 3rem;
display:flex;
justify-content: center;   
}

a:link{
text-decoration: none;
color: inherit;
}

a:visited{
    color:inherit;
}

li{
list-style: none;
}

.profil-card{
   
    background-color: white;
    border : 0.5px solid rgb(230, 224, 224);
    max-width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 1rem 0rem 1rem 3rem;
    padding:0.5rem 2rem 1.5rem 2rem;
    border-radius: 1rem;
    position: relative;
}

.box-image{
   
   
    border-radius: 1rem; 
   
    width:  400px;
    height: auto;
     position: relative;
     top: 60px; left: 40px;

}

.shop-picture{
    max-width:  400px;
    height: auto;
    border-radius: 1rem; 
      
  
}


.shop-card{ 
    border : 0.5px solid rgb(230, 224, 224);
    max-width: 100%;
    margin: 5rem 0rem 5rem 0rem;
    padding:2rem 0rem 3rem 0.5rem;
    border-radius: 1rem;
}

.form{
    background:  #EADDC5;
    padding: 1rem 5rem 1rem 5rem
}

.mentions {
    display: none;
}

.mentions__links {   
    padding-right: 2rem;
}

@media screen and (min-width: 1100px) {
    
.mentions {
display: block;
 margin-top: 6rem;
}
.mentions__list {
display: flex;
padding-right: 2rem;
}
}

.header__title{
color:white
}

#command-alert {
    color:red;
    text-decoration: underline;
}

.orders__in_preparation {
    background-color: sandybrown;
}

.prepared__orders {
    background-color: #80dea4;
}

.archived__orders {
    background-color: silver;
}

.new__orders {
    background-color: lightcoral;
}

.name__profil {
    display: flex;
}

.avatar-container{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-left: 2rem;
    overflow: hidden;
      

}
.user-avatar {
    box-sizing: content-box;
    width: 100%;
    
    
}
.bi {
    font-size: 1.5rem;
font-weight: bold;
}

.bi-plus-circle-dotted{
margin-left: 4px;
font-size: 1.5rem;
font-weight: bold;
}

.button {
    background-color: #de4e4e;
    color: white;
}

.order-button {
    background-color: white;
    color: black;
}

.order {
    border : 0.5px solid rgb(230, 224, 224);
    width: 100%;
    margin: 5rem 0rem 5rem 0rem;
    padding:2rem 5rem 3rem 2rem;
    border-radius: 1rem;
    background:  #EADDC5;
    display: flex;
    justify-content: space-between;
}

.product-title {
    display: flex;
    margin-bottom: 1rem;
}

.products, .orderlines-table {
    border : 0.5px solid rgb(230, 224, 224);
    margin: 5rem 0rem 5rem 0rem;
    padding:2rem 5rem 3rem 2rem;
    border-radius: 1rem;
    background: #EADDC5;
}

.product-picture{
    width: 100px;
}
.shop-picture{
    width: 400px;
}

.shoplist-card {
    width: 25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-item {
    width: 9rem;
    margin: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shop-card__picture {
    border-radius: 1rem;
    width: 142px;
    height: 140px;
}

.shop-card__text {
    font-size: 0.8rem;
}

.container404 {
    /* width: 100vh; */
    height: 100vh;
    background-image: url("../images/404.jpg");
    background-size: cover;
}

.team{
    margin-bottom: 2rem;
    padding:0.5 0rem;
}

.team-container{
    display:flex;
    flex-direction: row;
    padding: auto;
  
   
}

.avatar-profil{
    display:flex;
    align-items: center;
    margin: 0 1rem 0.5rem 0.5rem;
    flex-direction: column;
    flex-grow: 1;
  
  /*   background-color: white; */
    padding: 2rem 1rem 0;
   
    ;
   

}



 .role{
    display:block;
    font-size: 1rem;
    margin-bottom:1rem;
    font-weight: bold;
}

h1, .name, .role {
    font-style: roboto slab sans serif;
}

.name{
    background-color: white;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    -webkit-margin-bottom-collapse:1rem;
}

.avataar{
    max-width: 90px;
    margin-bottom: 0.5rem;

}




.title-404 {
    text-align: right;
    margin: 0;
    padding-top: 100px;
    padding-right: 100px;
}

.title-404 h1 {
    color: black;
}

.link-404 {
    padding-right: 100px;
}

.login-form {
    margin: 8rem 10rem 15rem 10rem;
}