{% apply inline_css %}
<style>
  @import
  url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,700&display=swap');

  body { font-family: 'Roboto', sans-serif; }

  header { background-color: #F7F0E9; display: flex; flex-direction: row; align-self: center; }

  a { text-decoration: none; color: #DE4E4E;}

  strong { text-transform: capitalize; }
</style>
<body>
  <header>
    <img src="cid:logo" alt="logo" />
    <h1>
      Bienvenue sur Clicks N Co, <strong>{{ firstname }} {{ lastname }}</strong>
      !
    </h1>
  </header>

  <p>
    Félicitations pour la création de votre compte !
  </p>

  <p>
    Vous pouvez, dès à présent, passer une commande !
  </p>

  <footer>
    <p>
      À bientôt,
    </p>
    <p>
      L'équipe <strong><a href="#">Clicks N Co</a></strong>
    </p>
  </footer>
</body>

{% endapply %}

{# '<body><h1><img src="cid:logo">Bienvenue sur Clicks N Co, <strong>' . $firstName . ' ' . $lastname . '</strong> !</h1><br><p>Félicitations pour la création de votre compte !</p><br><p>Vous pouvez, dès à présent, passer une commande !</p><br><p>À bientôt,</p><p>L\'équipe <strong>Clicks N Co</p></strong></body>' #}
