<footer class="footer has-background-color">
				<div class="footer-container">
					<div class="column">
						<h3 class="footer__title">Services</h3>
						<ul class="menu">
							<li>
								<NavLink class="footerlink" to="#">Restaurant</NavLink>
							</li>
							<li>
								<NavLink class="footerlink" to="#">Boucherie</NavLink>
							</li>
							<li>
								<NavLink class="footerlink" to="#">Primeur</NavLink>
							</li>
						</ul>
					</div>
					<div class="column">
						<h3 class="footer__title">A propos</h3>
						<ul class="menu">
							<li>
								<NavLink class="footerlink" to="#">Nous rejoindre</NavLink>
							</li>
							<li>
								<NavLink class="footerlink" to="#">Propriétés intellectuelles</NavLink>
							</li>
							<li>
								<NavLink class="footerlink" to="#">Partenariat</NavLink>
							</li>
						</ul>
					</div>
					<div class="column">
						<h3 class="footer__title">Assistance</h3>
						<ul class="menu">
							<li>
								<NavLink class="footerlink" to="#">Centre d'aide</NavLink>
							</li>
							<li>
								<NavLink class="footerlink" to="#">Signaler un problème</NavLink>
							</li>
						</ul>
					</div>
					<div class="column center">

						<ul class="menu">
							<li class="inline">
								<NavLink class="footerlink" to="#">
									<i class="fab fa-twitter fa-3x"></i>
								</NavLink>
							</li>
							<li class="inline">
								<NavLink class="footerlink" to="#">
									<i class="fab fa-instagram fa-3x"></i>
								</NavLink>
							</li>
							<li class="inline">
								<NavLink class="footerlink" to="#">
									<i class="fab fa-facebook fa-3x"></i>
								</NavLink>
							</li>
						</ul>
					</div>
				</div>

				<div class="mentions">
					<ul class="mentions__list">
						<li>
							<NavLink class="mentions__links" to="#">2021 - Clicks -N-Co</NavLink>
						</li>
						<li>
							<NavLink class="mentions__links" to="#">Confidentialité</NavLink>
						</li>
						<li>
							<NavLink class="mentions__links" to="#">Conditions générales</NavLink>
						</li>
						<li>
							<NavLink class="mentions__links" to="#">Plan du site</NavLink>
						</li>
					</ul>
				</div>


			</footer>