<header>

<div>
<img class="logo" src="{{ asset('images/logo/icon.png') }}"  alt="logo">

</div>
<div>
  {% if user is defined %}
    <h1 class="header__title">Bienvenue  {{ user.firstname }} !</h1> 
  {% endif %}
</div>


</header>