{% extends 'base.html.twig' %}

{% block body %}
  <div class="col-12">
    <a href="{{
      path(
        'user_backoffice_user_read',
        {
          id: user.id
        }
      )
      }}">
      Retour
    </a>
    <h2>
      Ajouter un magasin
    </h2>
  </div>
  {{ form_start(form) }}
  {{ form_row(form) }}
  <button class="btn btn-primary">Ajouter</button>
  {{ form_end(form) }}
{% endblock %}
