{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
  <div class="col-12">
    <a href="{{
      path(
        'user_backoffice_user_read',
        {
          id: user.id
        }
      )
      }}">
      <i class="bi bi-arrow-left-square-fill"></i>
    </a>
  </div>
     <div class="form"> <h2>
      Ajouter un magasin
    </h2>

  {{ form_start(form) }}
  {{ form_row(form) }}
  <button class="btn btn-primary">Ajouter</button>
  {{ form_end(form) }}</div>
   
{% endblock %}
