{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code postal</th>
                <th scope="col">Ville</th>
            </tr>
		</thead>
        <tbody>
            {% for shop in shops %}
                <tr>
                    <td>{{ shop.name }}</td>
                    <td>{{ shop.address }}</td>
                    <td>{{ shop.zipcode }}</td>
                    <td>{{ shop.city }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
